<!DOCTYPE html>
<html>
<head>
    <title>Profile App Example</title>
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: {
            {
                key
            }
        }
        authorize: true
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5b1.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
</head>

<body>
<h1>Sign-in with LinkedIn for profile analysis</h1>
<script type="in/Login">
    <form action="/profile">
        Hello, <?js= firstName ?> <?js= lastName ?>.
        <input type="hidden" name="linkedin-id" value="<?js= id ?>"/>
        <input type="submit" name="submit" value="View Profile"/>
    </form>
    <div>
        [ <a href="#" onclick="IN.User.logout();">Logout</a> ]
    </div>
</script>
</body>
</html>