<!DOCTYPE html>
<html>
<head>
    <title>LinkedIn Profile Visualization</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="https://platform.linkedin.com/in.js">
        api_key: {{key}}
        authorize: true
        credentials_cookie: true
        scope: r_fullprofile r_emailaddress r_network r_contactinfo rw_groups
    </script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript">
        function onAuth() {
            $.post("https://" + window.location.hostname + ":5443/token-exchange");
        }
    </script>
</head>

<body>
<h1>Sign-in with LinkedIn</h1>
<script type="in/Login" data-onAuth="onAuth">
    <div>
        Hello, <?js= firstName ?> <?js= lastName ?>.<br/>
         * <a href="/profile/~">View profile</a>    <br/>
         * <a href="#" onclick="IN.User.logout();">Logout</a><br/>
    </div>
</script>
</body>
</html>